name: Quality

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - uses: "./.github/actions/setup-php"
        name: Setup PHP
        with:
          php-version: '8.5'

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Run Tests in Parallel
        run: vendor/bin/pest --parallel --ci

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - uses: "./.github/actions/setup-php"
        name: Setup PHP
        with:
          php-version: '8.5'

      - name: Static Analysis
        run: vendor/bin/phpstan analyse --error-format=github

  pint:
    name: Pint
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - uses: "./.github/actions/setup-php"
        name: Setup PHP
        with:
          php-version: '8.5'

      - name: Code Style Check
        run: vendor/bin/pint --test
